<style>
	p.right{text-align: right;}
	p.center{text-align: center;font-size:75%;line-height: 75%}
  	p.ct{font-size: 150%;}

  	div.mlist{position: absolute; top: 20%; height: 10%; left: 15%; width:85%;}
	div.plist{position: absolute; top: 30%; height: 100%; left:15%;width:85%;}
	div.slist{position: absolute; top: 5%; height: 15%; left:75%; width:25%;font-size: 90%;line-height: 75%;}
	div.clist{position: absolute; top: 25%; height: 30%; left:0%; width:30%;}
	div.pic{position: absolute;top: 30%; height: 60%; left: 12%; width: 50%;}
	div.info{position: absolute;top: 45%; height: 60%; left: 50%; width: 50%;}

	div.product{display:none}
	div.display_area{display: block}

	ul.table{width:100%;height:100%;margin:0;padding:0;list-style:none;overflow:auto}
  	ul.table li{width:30%;height:50%;float:left;border:0.1px solid #CCC;overflow: auto}


  	img{max-width: 90%; max-height: 90%; padding-left:5%; padding-right:5%}

</style>