fieldset{width:310px}
form label{clear:left;float:left;width:90px;line-height:29px}
form div{padding:4px 0}
input[type=text],input[type=number],select,textarea{width:200px}

#categoryPanel,#categoryEditPanel{float:left;width:350px;border-right:1px solid #CCC}
#productPanel,#productEditPanel{float:left;padding-left:10px}

#categoryList span{cursor:pointer;text-decoration:underline;color:#00F}
#categoryList span:hover{text-decoration:none}
#categoryList span.edit, #categoryList span.delete{float:right;padding-right:10px}

.hide{display:none}
.clear{clear:both}

